.App {
  text-align: center;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes reverseSpin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(-360deg);
	}
}

.Icon {
  height: 10vh;
  min-height: 40px;
  margin: 0vw 3vw;
  animation: spin 30s linear infinite;
}

.Icon:hover {
  filter: grayscale(50%) sepia(50%);
  cursor: pointer;
  outline: 0;
  animation: reverseSpin 20s linear infinite; 
}

.Icon:focus {
  filter: grayscale(100%) sepia(100%);
  outline: 0;
}

/* .Img4 {
  animation: spin 30s linear infinite;
}

.Img3 {
  animation: reverseSpin 10s linear infinite;
} */

.Row {
  display: flex;
}

.Column {
  flex: 20%;
}

.App-logo {
  height: 40vh;
}

.Homepage {
  /* background-color:  #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80vh;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-window {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #282c34 15%, #09d3ac 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80vh;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
