.App {
  text-align: center;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes reverseSpin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(-360deg);
	}
}

.Icon {
  height: 150px;
  padding: 5px;
}

.Icon:hover {
  filter: grayscale(50%) sepia(50%);
  cursor: pointer;
  outline: 0; 
}

.Icon:focus {
  filter: grayscale(100%) sepia(100%);
  outline: 0;
}

.Img0,
.Img2,
.Img4 {
  animation: spin 10s linear infinite;
}

.Img1,
.Img3 {
  animation: reverseSpin 10s linear infinite;
}

.Row {
  display: flex;
}

.Column {
  flex: 20%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
