
/* --- From cohort3/src/03-objects/account-index.css --- */
  
.wrapper {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas: 
      'header header header header' 
      'left  middle middle right' 
      'footer footer footer footer';
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #282c34 15%, #09d3ac 100%); */
		height: 100%;
		width: 100%;
}
  
.container-left,
.container-middle,
.container-right {
    margin: 20px;
    padding: 10px;
    background-color: #282c34;
    border: solid 1px #09d3ac;
    color: white;
    opacity: 95%;
}

.display-header {
    font-size: 20px;
}

.create-account-display,
.account-display,
.balances-display {
    border: solid 1px #09d3ac;;
    margin: 10px;
    padding: 5px;
}
  
.container-left {
    grid-area: left;
    height: auto;
}

.create-account-display {
    display: flex;
    height: auto;
}

.create-account-text,
.create-account-name-input,
.create-account-balance-input {
    margin: 5px;
		padding: 5px;
		width: 80%;
}

.create-account-error-field {
	min-height: 20px;
	width: 80%;
	color: red;
}

.create-account-button {
    margin: 10px 5px 5px 5px;
}
  
.container-middle {
    grid-area: middle;
    height: auto;
}

.account-display {
    height: 90%;
    overflow: auto;
}

.account-card {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(6, 1fr);
    height: 25px;
    padding: 10px;
}

.account-card:nth-child(odd) {background-color:  #09d3abdc;}

.account-input {
    margin: 0px 5px 0px 15px;
}

.account-button {
    margin: 0px 5px 0px 5px;
}

.create-account-text,
.account-name,
.account-balance {
    float: left;
    margin: 0px 5px 0px 5px;
}

.dollar {
    justify-self: right;
    margin: 0px 0px 0px 15px;
}

.container-right {
    grid-area: right;
    height: 600px;
}

.balances-display {
    height: 140px;
    padding: 20px;
    text-align: center;
}

.balances-display-balance,
.balances-display-balance-total {
    font-size: 30px;
}

.create-account-display-header,
.account-display-header,
.accounts-information-display-header {
    font-size: 20px;
    margin: 5px;
}
