
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.header,
.footer {
      color: white;
      background-color: rgb(0, 217, 255);
      padding: 2%;
}

.header {
    grid-area: header;
    text-align: left;
    font-size: 100%;
}

.footer {
    grid-area: footer;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
  
.wrapper {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas: 
      'header header header header' 
      'left  middle middle right' 
      'footer footer footer footer';
}
  
.container-left,
.container-middle,
.container-right {
    margin: 2%;
    padding: 2%;
    border: solid 1px rgb(0, 217, 255);
    background-color: rgb(206, 241, 247);
    opacity: 50%;
}

.display-header {
    font-size: 100%;
}

.create-city-display,
.city-display,
.balances-display {
    border: solid 1px rgb(0, 217, 255);
    margin: 5%;
    padding: 2%;
}
  
.container-left {
    grid-area: left;
    height: 350px;
}

.create-city-display {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: fit-content;
}

.create-city-text,
.create-city-name-input,
.create-city-balance-input {
    margin: 5px;
    padding: 5px;
}

.create-city-button {
    margin: 10px 5px 5px 5px;
}
  
.container-middle {
    grid-area: middle;
    height: 550px;
}

.city-display {
    height: 450px;
    overflow: auto;
}

.city-card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 30px;
    padding: 10px;
    align-items: center;
}

.city-card:nth-child(odd) {background-color:  rgb(0, 217, 255);}

.city-input {
    margin: 0px 5px 0px 15px;
}

.city-button {
    margin: 0px 5px 0px 5px;
}

.create-city-text,
.city-name,
.city-balance {
    float: left;
    margin: 0px 5px 0px 5px;
}

.dollar {
    justify-self: right;
    margin: 0px 0px 0px 15px;
}

.container-right {
    grid-area: right;
    height: 70vh;
}

.balances-display {
    height: 26vh;
    padding: 14%;
    text-align: center;
}

.balances-display-balance {
    font-size: 75%;
}

.create-city-display-header,
.city-display-header,
.citys-information-display-header {
    font-size: 75%;
    margin: 2%;
}