
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.header,
.footer {
      color: white;
      background-color: rgb(0, 217, 255);
}

.header {
    grid-area: header;
    padding: 30px;
    text-align: left;
    font-size: 35px;
}

.footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100%;
}
  
.wrapper {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle right right' 
      'footer footer footer footer footer footer';
} 
  
.container-left,
.container-middle,
.container-right {
    margin: 20px;
    padding: 20px;
    border: solid 1px rgb(0, 217, 255);
    background-color: rgb(206, 241, 247);
    opacity: 50%;
}
  
.container-left {
    grid-area: left;
    height: 200px;
    padding: 20px;
}

.create-account-display {
    border: solid 1px rgb(0, 217, 255);
    height: 125px;
    margin: 15px;
    padding: 15px;
}
  
.container-middle {
    grid-area: middle;
    height: 400px;
}

.create-account-display-header,
.create-account-display,
.account-display-header,
.account-display {
    margin: 5px;
}

.account-display {
    height: 325px;
    margin: 15px;
    padding: 5px;
    border: solid 1px rgb(0, 217, 255);
    overflow: auto;
}

.account-card {
    margin: 20px;
    padding: 2px;
    border: solid 1px rgb(0, 217, 255);
}

.account-input,
.account-button {
    float: right;
    margin: 0px 2px 0px 2px;
}

.dollar {
    margin: 0px 0px 0px 50px;
}

.container-right {
    grid-area: right;
    height: 675px;
}

.balances-display {
    display: flex;
    height: 250px;
    margin: 15px;
    padding: 20px;
    border: solid 1px rgb(0, 217, 255);
}

.container-right-display-output {
    align-self: center;
    font-size: 30px;
}
